.profile-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.profile-grid > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.profile-grid__col:nth-child(1) {
  background: #5e63ca;
  background: var(--clr-primary);
  color: #fff;
}

.profile-grid__col:nth-child(1) header {
  padding: 1.75rem 1.25rem;
}

.profile-grid .user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.user__img {
  width: 120px;
  margin-bottom: 0.5rem;
}

.user__name {
  font-size: 1.25rem;
}

.user__email {
  font-size: 0.95rem;
  letter-spacing: 1px;
}

.btn-go-home {
  border: 2px solid currentColor;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  border-radius: 2px;
}

.btn-go-home span,
.btn-go-home svg {
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.btn-go-home svg {
  opacity: 0;
  position: absolute;
}

.btn-go-home:hover span,
.btn-go-home:focus span {
  padding-left: 1.25rem;
}

.btn-go-home:hover svg,
.btn-go-home:focus svg {
  opacity: 1;
}

.options {
  position: relative;
}

.options:focus-within .options__menu,
.options:hover .options__menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.profile-grid__col:nth-child(2) {
  padding: 2rem 1.5rem;
}

@media screen and (min-width: 900px) {
  .profile-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .profile-grid__col:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35%;
    flex: 1 1 35%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: initial;
  }

  .profile-grid__col:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 65%;
    flex: 1 1 65%;
    min-height: 100vh;
  }

  .profile-grid .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .profile-grid .user__img {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .profile-grid .user__text {
    border-left: 2px solid currentColor;
    padding: 0.5rem;
  }
}

.no-orders {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.no-orders h2 {
  margin-bottom: 1.5rem;
  color: #b5b5b5;
  font-weight: 500;
}
